NewVersioni.dproj.local
NewVersioni.identcache
VCL/Progetto/NewVersioni.res
*.~1~
*.~2~
*.~3~
/VCL/__history
/RT/__history
/VCL/__history
/VCL/Progetto/Source/__history
/VCL/Source/Frame/__history
/VCL/Source/Frame/__history
/RT/Source/Controller/__history
/RT/Source/Controller/Wizard/__history
/RT/Source/Controller/__history
/RT/Source/TFDConnection/__history
/RT/__history
/RT/Source/__history
/RT/__history
/RT/Source/Controller/__history
/RT/Source/Model/__history
/VCL/Progetto/__history
/VCL/__history
/VCL/Source/Form/__history
*.local
*.identcache
*.local
RT/M_NewVersioniRT.identcache
RT/M_NewVersioniRT.dproj.local
VCL/M_NewVersioni.dproj.local
VCL/Progetto/PatchManager.dproj.local
RT/Source/NewVersioniRT.Crypt.pas
